.resultados-container {
  text-align: center;
  padding: 2rem;
  font-family: "Comic Neue", "Poppins", sans-serif;
}

.filtros {
  margin-bottom: 20px;
}

.actividad-resultados {
  background: rgba(255, 255, 255, 0.9);
  margin: 1.5rem auto;
  padding: 1.5rem;
  border-radius: 18px;
  width: 85%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background-color: #ffb84d;
  color: #fff;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #fff9e6;
}
.actividad-enlace {
  cursor: pointer;
  color: #0077cc;
  text-decoration: underline;
}

.actividad-enlace:hover {
  color: #005999;
}
.volver-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.btn-volver {
  background-color: #ffb703;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 18px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.3s ease;
}

.btn-volver:hover {
  background-color: #ffa726;
}
